body{
  background-color: #00a2ff;
}
.dashboard{
  background-color: #00a2ff;
  display: flex;
  flex-direction: row;
}

.header {
  background: #0D0F36;
  display: flex;
  width: 35vh;
  height: 97vh;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usuario img{
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 50%;
  width: 10vh;
}

#b_usuario {
  display: flex;
  font-size: 3vh;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 95vh;
  width: 50%;
  justify-content:space-evenly;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3vh;
}

.navbar a {
  text-decoration: none;
  color: white;
  border: 3px solid white;
  border-radius: 2px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10vh;
}

.card1 {
  background-color: white;
  border-radius: 25px;
  width: 45vh;
  height: 55vh;
  margin-left: 18vh;
  margin-top: 12vh;
}

.titulocard1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-left: 15px;
}

.img1 {
  display: flex;
  height: 15vh;
  width: 38vh;
  margin-left: 1vh;
  flex-direction: column;
}

.img1 img{
  border-radius: 25px;
}

.paragrafo1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 45px;
}

.botao1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 27vh;
  font-size: 25px;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 35px;
}

.botao1 a {
  text-decoration: none;
  color: black;
}

.card2 {
  background-color: white;
  border-radius: 25px;
  width: 45vh;
  height: 55vh;
  margin-left: 15vh;
  margin-top: 12vh;
}

.titulocard2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-left: 2vh;
}

.img2 {
  display: flex;
  height: 15vh;
  width: 38vh;
  margin-left: 3vh;
  flex-direction: column;
}

.img2 img{
  border-radius: 25px;
}

.paragrafo2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 10vh;
}

.botao2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 27vh;
  font-size: 25px;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 35px;
}

.botao2 a {
  text-decoration: none;
  color: black;
}

.card3 {
  background-color: white;
  border-radius: 25px;
  width: 45vh;
  height: 55vh;
  margin-left: 15vh;
  margin-top: 12vh;
}

.titulocard3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-left: 30px;
}

.img3 {
  display: flex;
  height: 15vh;
  width: 38vh;
  margin-left: 3vh;
  flex-direction: column;
}

.img3 img{
  border-radius: 25px;
}

.paragrafo3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 4vh;
}

.botao3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 27vh;
  font-size: 25px;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 35px;
}

.botao3 a {
  text-decoration: none;
  color: black;
}