body{
  background-color: #00a2ff;
}
.dashboard{
  background-color: #00a2ff;
  display: flex;
  flex-direction: row;
}

.header {
  background: #0D0F36;
  display: flex;
  width: 35vh;
  height: 97vh;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 95vh;
  width: 50%;
  justify-content:space-evenly;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

#graficos {
  width: 75%;
  height: 100%;
  margin-left: 40vh;
}

#myChartCanvas {
  width: 100%;
  height: 100%;
}
