body {
    margin: 0%;
    padding: 0;
    background-color: #b9f1d6;
}

.header {
    background: #0D0F36;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 4rem;
    position: fixed;
    width: 1200px;
    border-radius: 35px;
    margin-left: 250px;
    margin-top: 10px;
}
  
.container {
    display: flex;
    margin: auto;
}
  
.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 400px;
    justify-content: space-between;
    color:#0846C0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 600px;
}

.navbar a {
    text-decoration: none;
    color: white;
  }

.Inicio {
    background-image: url(../assets/imgs/Design\ sem\ nome.png);
    padding: 325px;
    border-bottom: 7px solid black;
}

.blocoGeral {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .blocoEspecifico {
    display: flex;
  }
  
  .blocoEscrita {
    width: 60vw;
    margin-left: 5%;
    margin-top: 3%;
  }
  
  .blocoEscrita h1 {
    color: #DD940D;
    font-family: 'Times New Roman';
    font-size: 90px;
    margin: 0;
  }
  
  .blocoEscrita h4 {
    font-family: 'Arial';
    font-size: 60px;
    margin: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #DD940D;
  }
  
  .linha {
    width: 4px;
    height: 30vh;
    background-color: #ffffff;
    border-radius: 8px;
  }  

.bordafinal{
    border-top: #0D0F36 3px solid;
    margin-top: 50px;
}

.banner1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 35px;
    margin-left: 100px;
}

.titulosite {
    font-size: 40px;
    
}

.paragrafo1{
    display: flex;
    align-items: center;

}

.textosite {
    font-size: 150%;
    text-align: justify;
    margin-right: 300px;
}

.fotosite {
    margin-right: 200px;
}

.banner2 {
    display: flex;
    padding: 100px;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(185,241,214,1) 9%, rgba(255,255,255,1) 85%);
}

.card {
    background-color: #F1F6CE;
    border: 5px solid black;
    width: 400px;
    height: 550px;
    border-radius: 40px;
}

.banner3 {
    display: flex;
    padding: 100px;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255,255,255,1) 23%, #69D2CD 75%);
}

.titulo {
    display: flex;
}

.textomim {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.img1 {
    display: flex;
    margin: auto;
    margin-left: 400px;
}