body {
  background-color: #00a2ff;
}
.dashboard {
  background-color: #00a2ff;
  display: flex;
  flex-direction: row;
}

.header {
  background: #0d0f36;
  display: flex;
  width: 35vh;
  height: 97vh;
  border-radius: 15px;
  position: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usuario img{
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
}

#b_usuario {
  display: flex;
  font-size: 3vh;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 95vh;
  width: 50%;
  justify-content:space-evenly;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3vh;
}

.navbar a {
  text-decoration: none;
  color: white;
  border: 3px solid white;
  border-radius: 2px;
}

.caixa_preta {
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 10, 10);
  width: 80vh;
  height: 98vh;
  margin-left: 75vh;
  border-radius: 20px;
}

.comeco {
  display: flex;
  align-items: center;
  align-self: center;
}

.para_voce {
  display: flex;
  color: white;
  font-style: italic;
  font-size: 25px;
}

.comentario{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  
}
.perfil{
  display: flex;
  flex-direction: row;
}

.img {
  display: flex;
  width: 6vh;
  height: 6vh;
  margin-top: 1vh;
  border-radius: 50px;
  margin-left: 4vh;
}

#b_usuario{
  display: flex;
  font-size: 3vh;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1vh;
}

textarea {
  display: flex;
  margin-bottom: 2vh;
  margin-left: 4vh;
  width: 70vh;
  height: 11vh;
  border-radius:20px;
  background-color: rgb(10, 10, 10);
  color: white;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #000000;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.botao {
  display: flex;
  width: 10vh;
  height: 3vh;
  margin-left: 80%;
  background-color: #00a2ff;
  color: white;
  border: 1px solid #00a2ff;
  border-radius: 15px;
  margin-bottom: 1vh;
}

.nome {
  display: flex;
  align-items: center;
  align-self: center;
  margin-left: 13px;
}

.InicioComentario {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  color: white;
  border: 2px solid gray;
  border-radius: 2%;
}

.nomeComentario {
  display: flex;
  font-size:20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.Comentario {
  display: flex;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#div_mensagem {
  display: flex;
  flex-direction: column;
  height: 60vh; /* Altura máxima para a área de comentários */
  overflow-y: auto; /* Habilita rolagem vertical */
  background-color: rgb(20, 20, 20);
  padding: 10px;
  border-radius: 15px;
  margin: 10px 20px;
  border: 1px solid gray;
}
